.DS_Store
.build
/build
/.build
/Packages
/*.xcodeproj
xcuserdata/
xcuserdata
DerivedData
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.previous-build
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
.swiftpm
Package.resolved
*.pyc
.docc-build